<?xml version="1.0" encoding="utf-8"?>

<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogFile="C:\Temp\NlogInternalLog.log"
  internalLogToConsole="false"
  internalLogToConsoleError="false"
  internalLogLevel="Warn">

  <variable name="appName" value="MyApp" />
  <variable name="logDirRoot" value="C:\Temp\" />

  <targets>
    <!-- async file target for defaultFile  -->
    <target name="detailLogTarget" xsi:type="AsyncWrapper"  overflowAction="Block" queueLimit="50000"
            batchSize="1000" timeToSleepBetweenBatches="0">
        <target xsi:type="File"
                optimizeBufferReuse="true"
                archiveAboveSize="20971520"
                archiveEvery="None"
                archiveNumbering="Sequence"
                fileAttributes="NotContentIndexed"
                encoding="utf-8"
                writeBom="true"
                lineEnding="LF"
                keepFileOpen="true"
                openFileCacheTimeout="30"
                concurrentWrites="false"
                bufferSize="65536"
                autoFlush="true"
                cleanupFileName="false"
                fileName="${logDirRoot}/${appName}_${machinename}_${assembly-version}_${date:format=yyyy-MM-dd}.log"
                layout="${longdate}  ${pad:padding=5:padCharacter=0:inner=${threadid}}  !${pad:padding=-5:padCharacter= :inner=${level}}  ${message}  [${logger:shortName=true}]  ${event-properties:EventId} ${event-properties:EventId_Id}
${onexception:inner=${newline}${exception:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=20:format=ToString,StackTrace}}">
        </target>
    </target>
    <!--End async file target for defaultFile-->

    <!-- Console target -->
    <target name="consoleAsyncWrapper" xsi:type="AsyncWrapper" overflowAction="Block" queueLimit="50000"
            batchSize="1000" timeToSleepBetweenBatches="0">
      <target xsi:type="ColoredConsole" optimizeBufferReuse="true" detectConsoleAvailable="true" enableAnsiOutput="true"
              layout="${pad:padding=3:padCharacter=0:inner=${threadid}}  ${date:format=ss.ffff}  !${pad:padding=-5:padCharacter= :inner=${level}}  ${message}  [${logger:shortName=true}]
${onexception:inner=${newline}${exception:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=20:format=ToString,StackTrace}}">
      </target>
    </target>
  </targets>

  <!--All logging rules (mapping between loggers and targets)-->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="detailLogTarget"></logger>
    <logger name="*" minlevel="Warn" writeTo="consoleAsyncWrapper"></logger>
  </rules>
</nlog>